<div class="section-two">
  <div class="section-two__art-container section-two-art art">
    <div class="section-two-art__square-one art__square-size-xl"></div>
    <div class="section-two-art__square-two art__square-size-xm"></div>
    <div class="section-two-art__square-three art__square-size-xm"></div>
    <div class="section-two-art__img"></div>
    <div class="section-two-art__img-bg"></div>
  </div>
  <div class="section-two__content">
    <h1 class="section-two__heading heading">
      Stay safe with Go<span>Corona.</span>
    </h1>
    <p class="section-two__text text">
      24x7 Support and user friendly mobile platform to bring healthcare to your
      fingertips. Signup and be a part of the new health culture.
    </p>
    <button class="section-two__btn btn main-btn">Features</button>
  </div>
</div>
