<div class="section-four">
  <div class="section-four__main-container">
    <div class="section-four__content">
      <h1 class="section-four__heading heading">
        <span>Healthcare</span> at your Fingertips.
      </h1>
      <p class="section-four__text text">
        Bringing premium healthcare features to your fingertips. User friendly
        mobile platform to bring healthcare to your fingertips. Signup and be a
        part of the new health culture.
      </p>
    </div>
  </div>
  <div class="section-four__art-container section-four-art art">
    <div class="section-four-art__square-one art__square-size-l"></div>
    <div class="section-four-art__square-two art__square-size-m"></div>
    <div class="section-four-art__square-three art__square-size-s"></div>
    <div class="section-four-art__square-foure art__square-size-s"></div>
    <div class="section-four-art__content">
      <div class="section-four__infoCard-wrapper">
        @@include('./localComponents/_infoCard.html', { 
          "svgPath": "./assets/img/icons/SectionThreeIconMen.svg",
          "heading": "Symptom Checker", 
          "textCont": "Check if you are infected by COVID-19 with our Symptom Checker", 
      })
      </div>
      <div class="section-four__infoCard-wrapper">
        @@include('./localComponents/_infoCard.html', { 
          "svgPath": "./assets/img/icons/SectionThreeIconDoctor.svg",
          "heading": "24x7 Medical support", 
          "textCont": "Consult with 10,000+ health workers about your concerns.", 
      })
      </div>
      <div class="section-four__infoCard-wrapper">
        @@include('./localComponents/_infoCard.html', { 
          "svgPath": "./assets/img/icons/SectionThreeIconHeart.svg",
          "heading": "Conditions", 
          "textCont": "Bringing premium healthcare features to your fingertips.", 
      })
      </div>
    </div>
  </div>
</div>
