.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 27px 0 47px;
  background-color: $MAIN_WHITE;

  &__btn {
    margin: 0 28px;
  }
}

@media #{$tablet-media-query} {
  .footer__btn {
    margin: 0 15px;
  }
}

@media #{$phone-media-query} {
  .footer {
    flex-direction: column;
    padding: 27px 0;

    &__btn {
      margin: 10px 0;
    }
  }
}

@media #{$phone-smallest-media-query} {
  .footer__btn {
    margin: 0 5px;
  }
}
