<div class="section-one">
  <div class="section-one__main-container">
    <div class="section-one__content">
      <h1 class="section-one__heading heading">
        Take care of yours family’s <span>health.</span>
      </h1>
      <p class="section-one__text text">
        All in one destination for COVID-19 health queries. Consult 10,000+
        health workers about your concerns.
      </p>
      <button class="section-one__btn main-btn btn">GET STARTED</button>
    </div>
    <div class="section-one__img-wrapper">
      <img
        class="section-one__img"
        src="./assets/img/images/SectionOneImg.svg"
        alt="picture"
      />
    </div>
  </div>
  <div class="section-one__go-to-video go-to-video">
    <button class="go-to-video__btn btn"></button>
    <div class="go-to-video__text-wrapper">
      <h5 class="go-to-video__heading sub-heading">Stay safe with GoCorona</h5>
      <p class="go-to-video__text small-text">Watch Video</p>
    </div>
  </div>
  <div class="section-one__side-bar side-bar"></div>
</div>
